<!DOCTYPE html>
<html>
  <head>
    <title> Tanner's Reddit-on-rails </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="http://tanners-reddit-on-rails.herokuapp.com/session/new"> Sign in! </a>
    <br><br>

    <%= yield %>
  </body>
</html>
